html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}

#main{
    position: relative;
    top: 70px;
}

#cadastrar{
    color: white;
    font-weight: 400;
    font-size: medium;
}
#listar{
    color: white;
    font-weight: 400;
    font-size: medium;
}